body {
    margin: 0;
    width: 1440px;
    height: 696px;


}

.gallery {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    top: 24px;
    position: absolute;
    margin: 0;
    max-width: 1440px;

}

.gallery-image:hover {
    cursor: url(svg.svg), auto;
}

.gallery-image {
    width: 360px;
    height: 200px;

}

.modal {
    display: none;
}